.env
venv/
__pycache__/
*.pyc
*.pem
lambda.zip
lambda_build/
infrastructure/.terraform/
infrastructure/terraform.tfstate
infrastructure/terraform.tfstate.backup
infrastructure/.terraform.lock.hcl
.DS_Store
*.egg-info/
dist/
build/
